{% extends "intra_app/base.html" %} {% load static %} {% block content %}
<section id="content">
  <div class="container my-title">
    <div class="row">
      <div class="span8">
        <article class="noborder">
          <label class="my-title">
            <h4>Overview</h4>
          </label>
          <p>
            <strong
              >Rand West City Local Municipality was established by the
              amalgamation of Randfontein Local Municipality and Westonaria
              Local Municipality on 3 August 2016. Financial, Employment and
              Service Delivery information for the new municipality is only
              available from the 2016/17 financial year. View historical
              information for
              <a
                href="https://municipalities.co.za/overview/1065/randfontein-local-municipality"
                target="_blank"
              >
                Randfontein Local Municipality</a
              >
              and
              <a
                href="https://municipalities.co.za/overview/1066/westonaria-local-municipality"
                target="_blank"
              >
                Westonaria Local Municipality.</a
              ></strong
            >
          </p>
          <label class="my-title">
            <h4>Vision</h4>
          </label>
          <p>
            <strong>
              Sustainable green economy for a better life for all
            </strong>
          </p>
          <label class="my-title">
            <h4>Mission</h4>
          </label>
          <p>
            <strong>
              To provide services through a developmental municipal governance
              model, towards a sustainable quality of life for all communities.
            </strong>
          </p>
          <p>
            <label>
              <h4>Geography, History & Economy</h4>
            </label>
            <strong
              >Rand West City Local Municipality is part of West Rand District
              Municipality.
              <br />
              <br />
              MDB code: GT485
              <br />
              <br />
              Description: The Rand West City Local Municipality is a Category B
              municipality situated within the borders of the West Rand District
              in the Gauteng Province. It is the smallest of three
              municipalities in the district, making up a third of its
              geographical area. It was established by the amalgamation of the
              Randfontein and Westonaria Local Municipalities in August 2016.
               The municipality is characterised by dispersed urban structures
              consisting of various urban areas and mining villages spread
              across the entire municipal area. The rural areas consist of a
              large number of farms, as well as agricultural holdings.  The N12
              National Road and the R28 Provincial Road, as well as the railway
              line, provide easy access to the area. Goods and services can
              reach markets and airports easily without sacrificing quality or
              excessive transport costs. The Bus Rapid Transport (BRT) node from
              Lenasia also makes it a valued area of choice to reside in.
              <br />
              <br />
              Area: 1 115km²
              <br />
              <br />
              Cities/Towns: Randfontein, Westonaria
              <br />
              <br />
              Main Economic Sectors: Mining, manufacturing, trade, government
              services, agriculture</strong
            >
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
{% endblock %}
